# setup

In [1]:
import os

if os.getcwd().split('/')[-1] == 'notebooks':
    os.chdir('..')

In [2]:
from dataloaders.feno import CODE, CODEsplit

# init

In [3]:
database = CODE()

# draft

In [4]:
trn_ds = CODEsplit(database, database.trn_idx_dict)
val_ds = CODEsplit(database, database.val_idx_dict)
tst_ds = CODEsplit(database, database.tst_idx_dict)

In [6]:
database.metadata

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file
0,1169160,-0.782426,True,40.160484,False,False,False,False,False,False,523632,False,2.098628,True,exams_part13.hdf5
1,2873686,1.005538,True,67.059440,False,False,False,False,False,False,1724173,False,6.657529,False,exams_part13.hdf5
2,168405,0.699030,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5
3,271011,-0.629172,True,69.750260,False,False,False,False,False,False,1737282,False,4.038353,True,exams_part13.hdf5
4,384368,1.005538,True,78.873460,False,False,False,False,False,False,331652,False,3.786298,False,exams_part13.hdf5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307635,236469,-1.395442,True,29.119510,False,False,False,False,False,False,1103788,False,4.115065,True,exams_part2.hdf5
307636,1123951,-1.037849,True,35.893005,False,False,False,False,False,False,770553,False,2.189039,True,exams_part2.hdf5
307637,954704,1.005538,False,68.169136,False,False,False,False,False,False,1044781,False,2.520546,False,exams_part2.hdf5
307638,589697,1.107708,False,78.080810,False,False,False,False,False,False,1020589,False,3.304107,False,exams_part2.hdf5
307639,1576698,-1.344358,False,31.939650,False,False,False,False,False,False,1597868,False,1.298629,False,exams_part2.hdf5

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [16]:
scaler.fit(database.metadata['age'].values.reshape(-1, 1));

In [24]:
database.metadata['age'] = scaler.transform(database.metadata['age'].values.reshape(-1, 1))